# Telegram Bot Token
BOT_TOKEN=YOUR_BOT_TOKEN_HERE

# Admin Telegram Username (ដោយមិនបាច់មាន @)
ADMIN_USERNAME=Smael6667

# Admin Telegram ID (ឬទុក 0 បើសិនជាប្រើ ADMIN_USERNAME)
ADMIN_ID=0

# ឈ្មោះហាង
SHOP_NAME=RSPFI Store

# រូបិយប័ណ្ណ
CURRENCY=$
